@model GummyBears.Web.Models.AuthenticatedGroupModel
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
<!--/sidebar-menu-->
<div class="sidebar-menu">
    <header class="logo1">
        <div class="menu" style="margin-top: 20px;">
            <a href="@Url.Action("GetUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })" style="font-size: 25px; padding-top: 2em;"><i class="fa fa-user"></i> <span>@Model.Username</span></a>
        </div>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="@Url.Action("GetUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
            <li><a href="@Url.Action("GetFeeds", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-rss-square"></i> <span>Feeds</span></a></li>
            <li><a href="@Url.Action("GetGroups", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username  })"><i class="fa fa-users"></i> <span>My Groups</span></a></li>
            <li><a href="@Url.Action( "GetUserCreations", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-briefcase"></i> <span>My Creations</span></a></li>
            <li><a href="@Url.Action( "Logout", "Home", new { token = Model.AuthenticationToken })"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
         </ul>
    </div>
</div>
<div class="content">
    <hr />
    <form action="" method="post" enctype="multipart/form-data">
        @Html.Hidden("authenticationToken", Model.AuthenticationToken)
        @Html.Hidden("userId", Model.UserId)
        @Html.Hidden("username", Model.Username)
        @Html.ValidationMessage("ServerError", new { @class = "text-danger" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label for="groupName">Group Name:</label>
                <div class="col-md-5">
                    <input type="text" name="groupName" id="groupName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
