@model GummyBears.Web.Models.AuthenticatedFeedsPageModel

@{
    ViewBag.Title = "GetFeeds";
}
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
 <!--/sidebar-menu-->
<div class="sidebar-menu">
    <header class="logo1"><img src="~/img/user-profile.png" style="max-width:170px;" /></header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href=""><i class="fa fa-user"></i> <span>My Profile</span></a></li>
            <li><a href="@Url.Action("GetFeeds", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId })"><i class="fa fa-rss-square"></i> <span>Feeds</span></a></li>
            <li><a href="@Url.Action("GetGroups", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId })"><i class="fa fa-users"></i> <span>My Groups</span></a></li>
            <li><a href="@Url.Action( "GetUserCreations", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId })"><i class="fa fa-briefcase"></i> <span>My Creations</span></a></li>

        </ul>
    </div>
</div>
<div class="content">
    <h2>GetFeeds</h2>

    <p>
        @Html.ActionLink("Post message", "CreatePostInFeed", new { token = Model.AuthenticationToken, userId = Model.UserId })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsPerPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPages)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
            </tr>
        }

    </table>
</div>