@model GummyBears.Web.Models.AuthenticatedFeedsPageModel

@{
    ViewBag.Title = "GetFeeds";
}
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
<!--/sidebar-menu-->
<div class="sidebar-menu">
    <header class="logo1">
        <div class="menu" style="margin-top: 20px;">
            <a href="@Url.Action("GetUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })" style="font-size: 25px; padding-top: 2em;"><i class="fa fa-user"></i> <span>@Model.Username</span></a>
        </div>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="@Url.Action("GetUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
            <li><a href="@Url.Action("GetFeeds", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-rss-square"></i> <span>Feeds</span></a></li>
            <li><a href="@Url.Action("GetGroups", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username  })"><i class="fa fa-users"></i> <span>My Groups</span></a></li>
            <li><a href="@Url.Action( "GetUserCreations", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-briefcase"></i> <span>My Creations</span></a></li>
            <li><a href="@Url.Action( "Logout", "Home", new { token = Model.AuthenticationToken })"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
        </ul>
    </div>
</div>

<div class="content">
    <hr />
    @Html.Hidden("CurrentPage", Model.CurrentPage)
    @Html.Hidden("ItemsPerPage", Model.ItemsPerPage)
    @Html.Hidden("TotalItems", Model.TotalItems)
    @Html.Hidden("TotalPages", Model.TotalPages)

    <div style="float:right">
        <a href="@Url.Action("CreatePostInFeed", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-comments"></i><span> Post message</span></a>
    </div>

    @using (Html.BeginForm("GetFeeds", "Home", FormMethod.Post))
    {
        <table id="bioinfo" class="table">
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="odd">
                        <span>Author <a href="@Url.Action("GetOtherUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username, targetUserId= item.AuthorId })"><i>@item.AurhorName</i></a> wrote:</span>
                    </td>
                </tr>
                <tr>
                    <td class="even">
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    @if (Model.TotalPages > 1)
                    {
                        for (var i = 0; i < Model.TotalPages; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <span>@(i + 1)</span>
                            }
                            else
                            {
                                <a href="#" data-pageindex="@i"
                                   class="pager">@(i + 1)</a>
                            }
                        }
                    }
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPage").val(pageindex);
            evt.preventDefault();
            $("form").submit();
        });
    });
</script>