@model GummyBears.Web.Models.AuthenticatedGroupMessagesModel

@{
    ViewBag.Title = "GetMessagesInGroup";
}
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
<!--/sidebar-menu-->
<div class="sidebar-menu">
    <header class="logo1">
        <img src="~/img/user-profile.png" style="max-width:170px;" />
        <div class="menu" style="margin-top: 20px;">
            <a href="@Url.Action("GetUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })" style="font-size: 25px; padding-top: 2em;"><i class="fa fa-user"></i> <span>@Model.Username</span></a>
        </div>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="@Url.Action("GetUserProfile", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
            <li><a href="@Url.Action("GetFeeds", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-rss-square"></i> <span>Feeds</span></a></li>
            <li><a href="@Url.Action("Groups", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-users"></i> <span>My Groups</span></a></li>
            <li><a href="@Url.Action( "GetUserCreations", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-briefcase"></i> <span>My Creations</span></a></li>
            <li><a href="@Url.Action( "GetGroupParticipants", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-snapchat-ghost"></i> <span>View Participants</span></a></li>
            <li><a href="@Url.Action( "GetGroupCreations", "Home", new { token = Model.AuthenticationToken, userId = Model.UserId, username = Model.Username })"><i class="fa fa-briefcase"></i><i class="fa fa-users"></i> <span>View Group Creations</span></a></li>
        </ul>
    </div>
</div>
<div class="content">
    <hr/>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @Html.HiddenFor(model => model.AuthenticationToken)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.GroupId)

    <table class="table">
        @foreach (var item in Model.GroupMessages)
        {
            <tr>
                <td>
                    <span>User <i>@item.Username</i> with id <b>@item.UserId</b> wrote on @item.SendDate.ToString("dd/MM/yyyy"):</span>
                </td>
                </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }

    </table>
    </div>